<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<style>

    table {
        border-collapse: collapse;
        width: 400px;
        margin: 20px auto;
    }

    td, th {
        border: 1px solid gray;
    }

</style>


<div class="workingArea">
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>产品名称</th>
            <th>价格</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p: ${list}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.age}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>

</html>
</body>
</html>